# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
import pandas_datareader.data as web

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [2]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [3]:
df_apple = web.DataReader(name="AAPL",
                          data_source="av-daily",
                          start=start,
                          end=end,
                          api_key="your_alpha_vantage_api_key_goes_here")

df_apple

                open      high      low   close    volume
2015-01-02  111.3900  111.4400  107.350  109.33  53204626
2015-01-05  108.2900  108.6500  105.410  106.25  64285491
2015-01-06  106.5400  107.4300  104.630  106.26  65797116
2015-01-07  107.2000  108.2000  106.695  107.75  40105934
2015-01-08  109.2300  112.1500  108.700  111.89  59364547
...              ...       ...      ...     ...       ...
2020-08-24  514.7900  515.1400  495.745  503.43  86484442
2020-08-25  498.7900  500.7172  492.210  499.30  52873947
2020-08-26  504.7165  507.9700  500.330  506.09  40755567
2020-08-27  508.5700  509.9400  495.330  500.04  38888096
2020-08-28  504.0500  505.7700  498.310  499.23  46907479

[1425 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [4]:
df_apple["stock"] = "AAPL"
df_apple

                open      high      low   close    volume stock
2015-01-02  111.3900  111.4400  107.350  109.33  53204626  AAPL
2015-01-05  108.2900  108.6500  105.410  106.25  64285491  AAPL
2015-01-06  106.5400  107.4300  104.630  106.26  65797116  AAPL
2015-01-07  107.2000  108.2000  106.695  107.75  40105934  AAPL
2015-01-08  109.2300  112.1500  108.700  111.89  59364547  AAPL
...              ...       ...      ...     ...       ...   ...
2020-08-24  514.7900  515.1400  495.745  503.43  86484442  AAPL
2020-08-25  498.7900  500.7172  492.210  499.30  52873947  AAPL
2020-08-26  504.7165  507.9700  500.330  506.09  40755567  AAPL
2020-08-27  508.5700  509.9400  495.330  500.04  38888096  AAPL
2020-08-28  504.0500  505.7700  498.310  499.23  46907479  AAPL

[1425 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [5]:
# Tesla
df_tesla = web.DataReader(name="TSLA",
                          data_source="av-daily",
                          start=start,
                          end=end,
                          api_key="your_alpha_vantage_api_key_goes_here")

df_tesla["stock"] = "TSLA"

# IBM
df_ibm = web.DataReader(name="IBM",
                        data_source="av-daily",
                        start=start,
                        end=end,
                        api_key="your_alpha_vantage_api_key_goes_here")

df_ibm["stock"] = "IBM"

# Microsoft
df_microsoft = web.DataReader(name="MSFT",
                              data_source="av-daily",
                              start=start,
                              end=end,
                              api_key="your_alpha_vantage_api_key_goes_here")

df_microsoft["stock"] = "MSFT"

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [6]:
frames = [df_apple, df_tesla, df_ibm, df_microsoft]

df = pd.concat(frames)
df

              open     high      low   close    volume stock
2015-01-02  111.39  111.440  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.650  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.430  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.200  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.150  108.700  111.89  59364547  AAPL
...            ...      ...      ...     ...       ...   ...
2020-08-24  214.79  215.520  212.430  213.69  25460147  MSFT
2020-08-25  213.10  216.610  213.100  216.47  23043696  MSFT
2020-08-26  217.88  222.090  217.360  221.15  39600828  MSFT
2020-08-27  222.89  231.150  219.400  226.58  57602195  MSFT
2020-08-28  228.18  230.644  226.580  228.91  26292896  MSFT

[5700 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [7]:
df.set_index(keys="stock", append=True, inplace=True)
df

                    open     high      low   close    volume
           stock
2015-01-02 AAPL   111.39  111.440  107.350  109.33  53204626
2015-01-05 AAPL   108.29  108.650  105.410  106.25  64285491
2015-01-06 AAPL   106.54  107.430  104.630  106.26  65797116
2015-01-07 AAPL   107.20  108.200  106.695  107.75  40105934
2015-01-08 AAPL   109.23  112.150  108.700  111.89  59364547
...                  ...      ...      ...     ...       ...
2020-08-24 MSFT   214.79  215.520  212.430  213.69  25460147
2020-08-25 MSFT   213.10  216.610  213.100  216.47  23043696
2020-08-26 MSFT   217.88  222.090  217.360  221.15  39600828
2020-08-27 MSFT   222.89  231.150  219.400  226.58  57602195
2020-08-28 MSFT   228.18  230.644  226.580  228.91  26292896

[5700 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [8]:
vol = df['volume']
vol = pd.DataFrame(vol)
vol

                    volume
           stock
2015-01-02 AAPL   53204626
2015-01-05 AAPL   64285491
2015-01-06 AAPL   65797116
2015-01-07 AAPL   40105934
2015-01-08 AAPL   59364547
...                    ...
2020-08-24 MSFT   25460147
2020-08-25 MSFT   23043696
2020-08-26 MSFT   39600828
2020-08-27 MSFT   57602195
2020-08-28 MSFT   26292896

[5700 rows x 1 columns]

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [9]:
date = vol.index.get_level_values(0)
date = pd.DatetimeIndex(date) # ensure that it's a datetimeindex, instead of a regular index

vol['week'] = date.isocalendar().week.values
# .values is necessary to obtain only the week *values*
# otherwise pandas interprets it as a part of an index; this would be a problem as the same week appears multiple times
# (same week number in different years, same week for different stocks)

vol['year'] = date.year

pd.pivot_table(vol, values='volume', index=['year', 'week'],
               columns=['stock'], aggfunc=np.sum)

stock           AAPL       IBM       MSFT      TSLA
year week
2015 1      53204626   5525341   27913852   4764443
     2     282868187  24440360  158596624  22622034
     3     304226647  23272056  157088136  30799137
     4     198737041  31230797  137352632  16215501
     5     465842684  32927307  437786778  15720217
...              ...       ...        ...       ...
2020 31    211898609  20010578  149372422  61152261
     32    250852555  17701697  217598950  37091084
     33    235474473  18634659  141752091  71049854
     34    208464758  15908978  132258021  90804281
     35    265909531  16959794  171999762  88736115

[296 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [10]:
vol_2015 = vol[vol['year'] == 2015]

pd.pivot_table(vol_2015, values='volume', index=['year'],
               columns=['stock'], aggfunc=np.sum)

stock         AAPL         IBM        MSFT        TSLA
year
2015   13064316775  1105545521  9057582311  1086708380