# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [135]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [136]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [137]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [153]:
# Solution 1
len(chipo)
chipo.shape[0]

4622

In [154]:
# Solution 2
chipo.count()
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price  \
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

      chipo_revenue
0              2.39
1              3.39
2              3.39
3              2.39
4             33.96
...             ...
4617          11.75
4618          11.75
4619          11.25
4620           8.75
4621           8.75

[4622 rows x 6 columns]>

### Step 6. What is the number of columns in the dataset?

In [155]:
len(chipo.columns)
chipo.shape[1]

6

### Step 7. Print the name of all the columns.

In [11]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [123]:
chipo_order = chipo.groupby(['item_name']).sum().sort_values(by='quantity',ascending=False)
chipo_most_order = chipo_order.index[0]

print("Most-ordered item:", chipo_most_order,'\n')
# print(chipo_order)

Most-ordered item: Chicken Bowl

In [156]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price,chipo_revenue
item_name,,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",7342.73,8044.63

### Step 10. For the most-ordered item, how many items were ordered?

In [126]:
chipo_most_order_time = chipo_order.quantity.iloc[0]
# Series取数：
# 1. chipo_most_order_time = chipo_order['Chicken Bowl']
# 2. chipo_most_order_time = chipo_order.iloc[0]
# 3. chipo_most_order_time = chipo_order.loc['Chicken Bowl']
chipo_most_order_time

761

In [157]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price,chipo_revenue
item_name,,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",7342.73,8044.63

### Step 11. What was the most ordered item in the choice_description column?

In [128]:
chipo_order_desc = chipo.groupby(['choice_description']).sum().sort_values(by='quantity', ascending=False)
chipo_most_order_desc = chipo_order_desc.index[0]
print('Most-ordered item in choice description: ', chipo_most_order_desc, '\n')
# print(chipo_order_desc)

Most-ordered item in choice description:  [Diet Coke]

In [158]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

,order_id,quantity,item_name,item_price,chipo_revenue
choice_description,,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,326.71,408.41

### Step 12. How many items were orderd in total?

In [133]:
chipo.quantity.sum()

4972

In [159]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [56]:
print(chipo.item_price.dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [69]:
chipo_price_edit = chipo.item_price.str[1:]
chipo_price_edit.astype('float')

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [140]:
chipo['item_price'] = chipo['item_price'].apply(lambda p: float(p.replace('$','')))

In [ ]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [80]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [81]:
print(chipo.item_price.dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [143]:
chipo_revenue = (chipo.quantity * chipo.item_price).sum()
chipo_revenue

39237.02

### Step 15. How many orders were made in the period?

In [93]:
chipo_order_count = len(chipo.groupby('order_id'))
chipo_order_count

1834

In [161]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [145]:
# Solution 1
chipo_mean = chipo_revenue/chipo_order_count
chipo_mean

21.39423118865867

In [152]:
# Solution 2
chipo['chipo_revenue'] = chipo.quantity * chipo.item_price
chipo_mean = chipo.groupby(['order_id']).chipo_revenue.sum().mean()
chipo_mean

21.39423118865867

In [104]:
# Solution 1 错误的理解为了各个订单的平均收入，revenue distribution across individual orders
chipo_revenue_avg = chipo.groupby(['order_id']).chipo_revenue.mean()
print(chipo_revenue_avg)

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: chipo_revenue, Length: 1834, dtype: float64

In [116]:
# Solution 2 错误的理解
left = chipo.groupby(['order_id']).quantity.sum()
right = chipo.groupby(['order_id']).chipo_revenue.sum()
avg_avenue_per_order = right/left
avg_avenue_per_order

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Length: 1834, dtype: float64

### Step 17. How many different items are sold?

In [119]:
item = chipo.groupby(['item_name']).item_name.count()
print(len(item))

50

In [162]:
chipo.item_name.value_counts().count()

50