# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [83]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_table(url)

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [60]:
# Solution 1
chipo.shape[0]

4622

In [62]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   average             4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

### Step 6. What is the number of columns in the dataset?

In [18]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [20]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [21]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [80]:
chipo.groupby("item_name").agg({
    'order_id': 'sum',
    'quantity': 'sum'
}).sort_values(by='quantity', ascending=False).iloc[[0], [0, 1]]

# Chicken Bowl

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [33]:
chipo.groupby("item_name")['quantity'].sum().sort_values(ascending=False).iloc[0]

np.int64(761)

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo.groupby("choice_description").agg({
    'order_id': 'sum',
    'quantity': 'sum'
}).sort_values(by='quantity', ascending=False).iloc[[0], [0, 1]]
# Diet coke

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [38]:
chipo['quantity'].sum()

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [82]:
chipo['item_price'].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [47]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [49]:
chipo['item_price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   float64
dtypes: float64(1)
memory usage: 36.2 KB

### Step 14. How much was the revenue for the period in the dataset?

In [51]:
chipo['item_price'].sum()

np.float64(34500.16)

### Step 15. How many orders were made in the period?

In [52]:
chipo['item_price'].count()

np.int64(4622)

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
chipo['revenue'] = chipo['item_price'] * chipo['quantity']
chipo.groupby('order_id')['revenue'].sum().mean()

np.float64(21.39423118865867)

### Step 17. How many different items are sold?

In [56]:
len(chipo['item_name'].unique())

50