# Apple Stock

### Introduction:

We are going to use Apple's stock price.

### Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [1]:
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv

SyntaxError: invalid syntax (1805426779.py, line 1)

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'

In [4]:
url

'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'

In [5]:
url.upper()

'HTTPS://RAW.GITHUBUSERCONTENT.COM/GUIPSAMORA/PANDAS_EXERCISES/MASTER/09_TIME_SERIES/APPLE_STOCK/APPL_1980_2014.CSV'

In [6]:
url.capitalize()

'Https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_time_series/apple_stock/appl_1980_2014.csv'

In [7]:
url.title()

'Https://Raw.Githubusercontent.Com/Guipsamora/Pandas_Exercises/Master/09_Time_Series/Apple_Stock/Appl_1980_2014.Csv'

In [8]:
url.csv()

AttributeError: 'str' object has no attribute 'csv'

In [9]:
import pandas

In [10]:
pandas.read_csv(filepath_or_buffer=url)

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

### Assign it to a variable apple

In [11]:
type(pandas.read_csv(filepath_or_buffer=url))

pandas.core.frame.DataFrame

In [13]:
df_apple = pandas.read_csv(filepath_or_buffer=url)

In [14]:
df_apple

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

###  Check out the type of the columns

In [16]:
df_apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Transform the Date column as a datetime type

In [17]:
import numpy

In [ ]:
numpy.datetime64

In [18]:
df_apple.astype(dtype=numpy.datetime64)

ValueError: The 'datetime64' dtype has no unit. Please pass in 'datetime64[ns]' instead.

In [21]:
df_apple.Date = df_apple.Date.astype(dtype=numpy.datetime64)

###  Set the date as the index

In [23]:
df_apple.set_index(keys='Date')

             Open   High    Low  Close     Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...           ...    ...    ...    ...        ...        ...
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 6 columns]

In [24]:
df_apple = df_apple.set_index(keys='Date')

###  Is there any duplicate dates?

In [26]:
df_apple.index.has_duplicates

False

In [27]:
df_apple.index.duplicated()

array([False, False, False, ..., False, False, False])

In [28]:
df_apple.index.duplicated().sum()

0

###  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [31]:
df_apple = df_apple.sort_index()

### Get the last business day of each month

In [33]:
df_apple.Date

AttributeError: 'DataFrame' object has no attribute 'Date'

In [35]:
df_apple.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [38]:
df_apple.index.month

Int64Index([12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
            ...
             6,  6,  6,  6,  6,  7,  7,  7,  7,  7],
           dtype='int64', name='Date', length=8465)

In [39]:
df_apple.index.is_month_end

array([False, False, False, ..., False, False, False])

In [40]:
df_apple[df_apple.index.is_month_end]

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-31   34.25   34.25   34.13   34.13    8937600       0.53
1981-03-31   24.75   24.75   24.50   24.50    3998400       0.38
1981-04-30   28.38   28.62   28.38   28.38    3152800       0.44
1981-06-30   26.13   26.13   26.00   26.00    8976800       0.41
1981-07-31   25.00   25.12   25.00   25.00    2738400       0.39
...            ...     ...     ...     ...        ...        ...
2014-01-31  495.18  501.53  493.55  500.60  116199300      70.69
2014-02-28  529.08  532.75  522.12  526.24   92992200      74.76
2014-03-31  539.23  540.81  535.93  536.74   42167300      76.25
2014-04-30  592.64  599.43  589.80  590.09  114160200      83.83
2014-06-30   92.10   93.73   92.09   92.93   49482300      92.93

[283 rows x 6 columns]

In [42]:
type(df_apple)

pandas.core.frame.DataFrame

In [43]:
df_apple.index

DatetimeIndex(['1980-12-12', '1980-12-15', '1980-12-16', '1980-12-17',
               '1980-12-18', '1980-12-19', '1980-12-22', '1980-12-23',
               '1980-12-24', '1980-12-26',
               ...
               '2014-06-24', '2014-06-25', '2014-06-26', '2014-06-27',
               '2014-06-30', '2014-07-01', '2014-07-02', '2014-07-03',
               '2014-07-07', '2014-07-08'],
              dtype='datetime64[ns]', name='Date', length=8465, freq=None)

In [41]:
df_apple

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
...           ...    ...    ...    ...        ...        ...
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35

[8465 rows x 6 columns]

In [45]:
import pandas as pd

In [46]:
(df_apple.index + pd.offsets.BMonthEnd(1)).day

Int64Index([31, 31, 31, 31, 31, 31, 31, 31, 31, 31,
            ...
            30, 30, 30, 30, 31, 31, 31, 31, 31, 31],
           dtype='int64', name='Date', length=8465)

In [48]:
df_apple.to_period('M')

          Open   High    Low  Close     Volume  Adj Close
Date
1980-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12  27.38  27.38  27.25  27.25   43971200       0.42
1980-12  25.37  25.37  25.25  25.25   26432000       0.39
1980-12  25.87  26.00  25.87  25.87   21610400       0.40
1980-12  26.63  26.75  26.63  26.63   18362400       0.41
...        ...    ...    ...    ...        ...        ...
2014-07  93.52  94.07  93.13  93.52   38170200      93.52
2014-07  93.87  94.06  93.09  93.48   28420900      93.48
2014-07  93.67  94.10  93.20  94.03   22891800      94.03
2014-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07  96.27  96.80  93.92  95.35   65130000      95.35

[8465 rows x 6 columns]

In [50]:
df_apple.resample('BM')

In [51]:
df_apple.resample('BM').mean()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
1980-12-31,30.481538,30.567692,30.443077,30.443077,2.586252e+07,0.473077
1981-01-30,31.754762,31.826667,31.654762,31.654762,7.249867e+06,0.493810
1981-02-27,26.480000,26.572105,26.407895,26.407895,4.231832e+06,0.411053
1981-03-31,24.937727,25.016818,24.836364,24.836364,7.962691e+06,0.387727
1981-04-30,27.286667,27.368095,27.227143,27.227143,6.392000e+06,0.423333
...,...,...,...,...,...,...
2014-03-31,533.593333,536.453810,530.070952,533.214286,5.954403e+07,75.750000
2014-04-30,540.081905,544.349048,536.262381,541.074286,7.660787e+07,76.867143
2014-05-30,601.301905,606.372857,598.332857,603.195714,6.828177e+07,86.058571
2014-06-30,222.360000,224.084286,220.735714,222.658095,5.745506e+07,91.885714
2014-07-31,94.294000,95.004000,93.488000,94.470000,4.218366e+07,94.470000

###  What is the difference in days between the first day and the oldest

###  How many months in the data we have?

### Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.