# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Assign it to a variable called iris

### Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

###  Is there any missing value in the dataframe?

###  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

### Good, now lets substitute the NaN values to 1.0

### Now let's delete the column class

###  Set the first 3 rows as NaN

###  Delete the rows that have NaN

### Reset the index so it begins with 0 again

### BONUS: Create your own question and answer it.